* {
  display: block;
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 1vh;
}

h1 {
  font-size: 40px;
  margin: 4px;
  padding: 4px;
}

.rules {
  position: relative;
  top: 0;
  left: 2vw;
  width: 25vw;
  height: 42vh;
  background: url(img/ui/01.jpg) white;
  background-size: contain;
  background-repeat: no-repeat;
}

.rules h2 {
  position: absolute;
  top: 6vh;
  left: 10vw;
  font-size: 28px;
}

.rules p {
  position: absolute;
  top: 13vh;
  left: 4vw;
  width: 70%;
  font-size: 17px;
}

.info-box {
  position: absolute;
  top: 11vh;
  left: 28vw;
  width: 20vw;
  height: 40vh;
  background-image: url(img/ui/04.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.info-box span {
  position: absolute;
  top: 8vh;
  left: 5vw;
  line-height: 1.8;
  text-align: left;
  font-size: 16px;
}

.army-builder {
  position: absolute;
  top: 13vh;
  right: 3vw;
}

.units {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(54, 34, 34);
  width: calc(81.5px *8);
  height: auto;
  border: 4px ridge #a3a279;
  border-radius: 3px;
}

.value {
  position: absolute;
  bottom: 8vh;
  left: 5vw;
}

div.value span {
  position: absolute;
  top: 0;
  left: 110%;
  line-height: 1;
  font-size: 18px;
}

.new-army {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(81.5px *12);
  height: 28vh;
  margin: 1px;
  background-image: url(img/ui/nabgc01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px ridge #94935f;
  border-radius: 3px;
  background-blend-mode: color-burn;
}

.decor-left {
  position: absolute;
  top: 59%;
  left: 10%;
  z-index: -1;
}

.decor-right {
  position: absolute;
  top: 59%;
  right: 10%;
  z-index: -1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.unit {
  position: relative;
  width: calc(159px /2);
  height: calc(351px /2);
  margin: 1px;
}

.general {
  width: calc(159px /2);
  height: calc(351px /2);
  margin: 1px;
}

.unit:hover {
  cursor: pointer;
}

.unit:active {
  opacity: 0.5;
}

.unit img {
  position: absolute;
  width: calc(159px /2);
  height: calc(351px /2);
}

.general img {
  position: absolute;
  width: calc(159px /2);
  height: calc(351px /2);
}