* {
  display: block;
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  /* font-family: 'MedievalSharp'; */
  box-sizing: border-box;
}

body {
  background-color: rgb(94, 0, 0);
}

.container {
  position: relative;
  padding: 1vh;
}

.rules {
  position: absolute;
  top: 11vh;
  left: 5vw;
  width: 20vw;
  height: 30vh;
  background-color: rgb(255, 115, 0);
  border: 3px ridge #94935f;
  border-radius: 2px;
}

.info-box {
  position: absolute;
  top: 11vh;
  left: 30vw;
  width: 12vw;
  height: 30vh;
  background-color: rgb(255, 115, 0);
  border: 3px ridge #94935f;
  border-radius: 2px;
}

.army-builder {
  position: absolute;
  top: 8vh;
  right: 5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: calc((351px+2px)*2);
}

.units {
  display: flex;
  flex-direction: row;
  background-color: rgb(54, 34, 34);
  border: 2px ridge #94935f;
  border-radius: 1px;
}

.new-army {
  position: absolute;
  top: 66vh;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(81.5px *12);
  height: 28vh;
  margin: 1px;
  background-color: rgb(80, 19, 19);
  border: 2px ridge #94935f;
  border-radius: 1px;
}

.unit {
  position: relative;
  width: calc(159px /2);
  height: calc(351px /2);
  margin: 1px;
}

.general {
  width: calc(159px /2);
  height: calc(351px /2);
  margin: 1px;
}

.unit:hover {
  cursor: pointer;
}

.unit:active {
  opacity: 0.5;
}

.unit img {
  position: absolute;
  width: calc(159px /2);
  height: calc(351px /2);
}

.general img {
  position: absolute;
  width: calc(159px /2);
  height: calc(351px /2);
}